PROYECTO BA

In [124]:
import pandas as pd
data_flights = pd.read_csv('flights.csv')
data = data_flights.copy()
data_airports = pd.read_csv('airports.csv') # BASE CON NOMBRES DE AEROPUERTOS 
data_airlines = pd.read_csv('airlines.csv') # BASE CON NOMBRES DE AEROLINEAS

In [125]:
print ("Descripción estadistica")
data_flights.describe()

Descripción estadistica

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

In [126]:
#Cantidad de filas 
X = int(data.shape[0]/3)
# Creamos set mas pequeños para trabajar mas facil en una primera etapa de pogramación
#data_small= data[:50000]
#data_part_one = data[:X]
#data_part_two = data[X:2*X]
#data_part_three = data[2*X:]

print("Cantidad de filas set original = " + str(data_flights.shape[0]))
#print("Cantidad de filas set small = " + str(data_small.shape[0]))
#print("Cantidad de filas set part one = " + str(data_part_one.shape[0]))
#print("Cantidad de filas set part two = " + str(data_part_two.shape[0]))
#print("Cantidad de filas set part three = " + str(data_part_three.shape[0]))

# CREAMOS BASE CON DATOS DE UN MES 
#data_small = data_flights[data_flights['MONTH'] == 1]
#print("Cantidad de filas set small = " + str(data_small.shape[0]))
#CREAMOS BASE CON DATOS DE SOLO UN AEROPUERTO 
Aeropuerto ="ATL"
data_Aeropuerto = data_flights[data_flights['ORIGIN_AIRPORT'] == "ATL"]
print ("Cantidad de filas set airport = " + str(data_Aeropuerto.shape[0]))

Cantidad de filas set original = 5819079
Cantidad de filas set small = 469968
Cantidad de filas set airport = 346836

In [132]:
data_Aeropuerto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346836 entries, 109 to 5818950
Data columns (total 31 columns):
YEAR                   346836 non-null int64
MONTH                  346836 non-null int64
DAY                    346836 non-null int64
DAY_OF_WEEK            346836 non-null int64
AIRLINE                346836 non-null object
FLIGHT_NUMBER          346836 non-null int64
TAIL_NUMBER            346638 non-null object
ORIGIN_AIRPORT         346836 non-null object
DESTINATION_AIRPORT    346836 non-null object
SCHEDULED_DEPARTURE    346836 non-null int64
DEPARTURE_TIME         344384 non-null float64
DEPARTURE_DELAY        344384 non-null float64
TAXI_OUT               344319 non-null float64
WHEELS_OFF             344319 non-null float64
SCHEDULED_TIME         346836 non-null float64
ELAPSED_TIME           343506 non-null float64
AIR_TIME               343506 non-null float64
DISTANCE               346836 non-null int64
WHEELS_ON              344165 non-null float64
TAXI_IN                344165 non-null float64
SCHEDULED_ARRIVAL      346836 non-null int64
ARRIVAL_TIME           344165 non-null float64
ARRIVAL_DELAY          343506 non-null float64
DIVERTED               346836 non-null int64
CANCELLED              346836 non-null int64
CANCELLATION_REASON    2557 non-null object
AIR_SYSTEM_DELAY       56462 non-null float64
SECURITY_DELAY         56462 non-null float64
AIRLINE_DELAY          56462 non-null float64
LATE_AIRCRAFT_DELAY    56462 non-null float64
WEATHER_DELAY          56462 non-null float64
dtypes: float64(16), int64(10), object(5)
memory usage: 84.7+ MB

In [133]:
# porcentaje de registros de la variable que son missing values
print ("%MISSING VALUES")
#data_flights.isnull().sum()
data = data_Aeropuerto.copy()
import numpy as np
missing_values = []
for col in data.columns:
    i=data[col].isnull().sum()
    print ('{} = {}%'.format(col, i*100/data.shape[0]))

%MISSING VALUES
YEAR = 0.0%
MONTH = 0.0%
DAY = 0.0%
DAY_OF_WEEK = 0.0%
AIRLINE = 0.0%
FLIGHT_NUMBER = 0.0%
TAIL_NUMBER = 0.05708749956751894%
ORIGIN_AIRPORT = 0.0%
DESTINATION_AIRPORT = 0.0%
SCHEDULED_DEPARTURE = 0.0%
DEPARTURE_TIME = 0.7069623683815982%
DEPARTURE_DELAY = 0.7069623683815982%
TAXI_OUT = 0.7257032141992181%
WHEELS_OFF = 0.7257032141992181%
SCHEDULED_TIME = 0.0%
ELAPSED_TIME = 0.9601079472719095%
AIR_TIME = 0.9601079472719095%
DISTANCE = 0.0%
WHEELS_ON = 0.7701046027517328%
TAXI_IN = 0.7701046027517328%
SCHEDULED_ARRIVAL = 0.0%
ARRIVAL_TIME = 0.7701046027517328%
ARRIVAL_DELAY = 0.9601079472719095%
DIVERTED = 0.0%
CANCELLED = 0.0%
CANCELLATION_REASON = 99.26276395760533%
AIR_SYSTEM_DELAY = 83.72083636070073%
SECURITY_DELAY = 83.72083636070073%
AIRLINE_DELAY = 83.72083636070073%
LATE_AIRCRAFT_DELAY = 83.72083636070073%
WEATHER_DELAY = 83.72083636070073%

In [141]:
data.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
109,2015,1,1,4,EV,3268,N14998,ATL,IAD,540,...,739.0,14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
304,2015,1,1,4,F9,902,N949FR,ATL,TTN,600,...,814.0,24.0,0,0,NaN,5.0,0.0,19.0,0.0,0.0
560,2015,1,1,4,AA,1635,N025AA,ATL,DFW,625,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
729,2015,1,1,4,DL,886,N918DL,ATL,LGA,645,...,901.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
749,2015,1,1,4,OO,4974,N792SK,ATL,IAH,646,...,809.0,7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
815,2015,1,1,4,DL,1818,N555NW,ATL,MCO,655,...,815.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
863,2015,1,1,4,US,461,N540UW,ATL,CLT,700,...,801.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
868,2015,1,1,4,AA,17,N019AA,ATL,MIA,700,...,842.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
959,2015,1,1,4,NK,231,N620NK,ATL,FLL,700,...,905.0,17.0,0,0,NaN,17.0,0.0,0.0,0.0,0.0
1167,2015,1,1,4,DL,2499,N696DL,ATL,SLC,720,...,934.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
#print("Tipo de variable")
#data_flights.info()
#data_flights.columns.values
# concateno las variables YEAR,MONTH & DAY 
#trabajamos por mientras con los datos del set pequeño 
#data["DATE"] = pd.to_datetime(data[["YEAR","MONTH", "DAY"]])# crar variable que concatena al año-mes-dia
data_1=data.copy()
Variables_Borradas_1 =['AIR_SYSTEM_DELAY','SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
                       'WEATHER_DELAY','CANCELLATION_REASON'] # BORRADAS POR CANTIDAD DE MISSING VALUES
data_1.drop(Variables_Borradas_1, axis = 1, inplace = True)

In [139]:
data_1.columns.values

array(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
       'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME',
       'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED',
       'CANCELLED'], dtype=object)

In [143]:
Variables_2 = ['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 
                       'SCHEDULED_ARRIVAL', 'DISTANCE']
data_2 = data_1[Variables_2]
data_2['DELAYED'] = np.where(data_1['ARRIVAL_DELAY']>0, '1', '0')
data_2['ON_TIME'] = np.where(data_1['ARRIVAL_DELAY']<=0, '1', '0')
data_2

C:\Users\feseg\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\feseg\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL,DISTANCE,DELAYED,ON_TIME
109,2015,1,1,4,3268,ATL,IAD,540,725,534,1,0
304,2015,1,1,4,902,ATL,TTN,600,750,701,1,0
560,2015,1,1,4,1635,ATL,DFW,625,755,731,0,0
729,2015,1,1,4,886,ATL,LGA,645,853,762,1,0
749,2015,1,1,4,4974,ATL,IAH,646,802,689,1,0
815,2015,1,1,4,1818,ATL,MCO,655,822,404,0,1
863,2015,1,1,4,461,ATL,CLT,700,812,226,0,1
868,2015,1,1,4,17,ATL,MIA,700,852,594,0,1
959,2015,1,1,4,231,ATL,FLL,700,848,581,1,0
1167,2015,1,1,4,2499,ATL,SLC,720,940,1590,0,1
1196,2015,1,1,4,317,ATL,DAL,725,845,721,0,1
1215,2015,1,1,4,1260,ATL,BDL,725,940,859,0,1
1239,2015,1,1,4,1746,ATL,SFO,729,1004,2139,1,0
1273,2015,1,1,4,2103,ATL,MIA,730,926,594,0,1
1321,2015,1,1,4,931,ATL,MDW,735,840,591,0,1
1411,2015,1,1,4,1853,ATL,PHX,745,1014,1587,0,1
1439,2015,1,1,4,986,ATL,LGA,745,955,762,1,0
1644,2015,1,1,4,2226,ATL,FLL,800,950,581,0,1
1707,2015,1,1,4,696,ATL,HOU,805,920,696,0,1
1733,2015,1,1,4,1105,ATL,SLC,805,1030,1590,0,1
1774,2015,1,1,4,2098,ATL,PHL,810,1015,666,0,1
1796,2015,1,1,4,2513,ATL,OKC,810,937,761,0,1
1797,2015,1,1,4,55,ATL,IAH,810,932,689,0,1
1798,2015,1,1,4,1578,ATL,DEN,810,940,1199,0,1
1819,2015,1,1,4,1122,ATL,RSW,811,953,515,1,0
1861,2015,1,1,4,1652,ATL,MIA,815,1012,594,0,1
1876,2015,1,1,4,2049,ATL,SFO,815,1043,2139,0,1
1879,2015,1,1,4,2441,ATL,MEM,815,844,332,0,1
1916,2015,1,1,4,450,ATL,FLL,820,1010,581,0,1
1930,2015,1,1,4,2013,ATL,LAS,820,957,1747,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5818833,2015,12,31,4,1594,ATL,TUL,2209,2320,674,0,1
5818835,2015,12,31,4,1083,ATL,RDU,2210,2327,356,0,1
5818836,2015,12,31,4,1358,ATL,SAV,2210,2309,214,1,0
5818837,2015,12,31,4,2328,ATL,CHA,2210,2256,106,1,0
5818838,2015,12,31,4,2561,ATL,GSP,2210,2304,153,0,1
5818848,2015,12,31,4,2304,ATL,TPA,2211,2335,406,0,1
5818849,2015,12,31,4,2095,ATL,ORF,2212,2344,516,0,1
5818850,2015,12,31,4,1217,ATL,BNA,2212,2218,214,0,1
5818851,2015,12,31,4,1224,ATL,BHM,2212,2206,134,0,1
5818852,2015,12,31,4,4908,ATL,GNV,2212,2326,300,0,1
5818855,2015,12,31,4,1206,ATL,GSO,2214,2328,306,0,1
5818856,2015,12,31,4,769,ATL,MKE,2215,2318,669,1,0
5818857,2015,12,31,4,2460,ATL,LAS,2215,2351,1747,0,1
5818860,2015,12,31,4,375,ATL,IND,2216,2347,432,0,1
5818861,2015,12,31,4,5437,ATL,AGS,2216,2310,143,1,0
5818862,2015,12,31,4,5017,ATL,MOB,2219,2238,302,0,1
5818863,2015,12,31,4,1210,ATL,LEX,2220,2332,304,0,1
5818869,2015,12,31,4,1730,ATL,CHS,2221,2326,259,0,1
5818870,2015,12,31,4,1812,ATL,ORD,2221,2319,606,0,1
5818871,2015,12,31,4,1898,ATL,AVL,2223,2317,164,0,1
5818872,2015,12,31,4,2491,ATL,SDF,2223,2342,321,0,1
5818874,2015,12,31,4,1711,ATL,DFW,2225,2352,731,0,1
5818875,2015,12,31,4,1978,ATL,RIC,2225,2354,481,0,1
5818876,2015,12,31,4,427,ATL,DEN,2225,10,1199,1,0
5818888,2015,12,31,4,2376,ATL,PIT,2230,5,526,0,1
5818908,2015,12,31,4,2596,ATL,OKC,2240,5,761,0,1
5818909,2015,12,31,4,5460,ATL,RIC,2240,10,481,0,1
5818927,2015,12,31,4,5627,ATL,CAK,2245,25,528,0,1
5818928,2015,12,31,4,3584,ATL,PHL,2245,45,666,0,1
5818950,2015,12,31,4,5668,ATL,IND,2255,25,432,0,1

In [92]:
# esta wea la encontre en internet 
import datetime, warnings, scipy 
import pandas as pd
import numpy as np

#_________________________________________________________
# Function that convert the 'HHMM' string to datetime.time
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        return heure
#_____________________________________________________________________
# Function that combines a date and time to produce a datetime.datetime
def combine_date_heure(x):
    if pd.isnull(x[0]) or pd.isnull(x[1]):
        return np.nan
    else:
        return datetime.datetime.combine(x[0],x[1])
#_______________________________________________________________________________
# Function that combine two columns of the dataframe to create a datetime format
def create_flight_time(df, col):    
    liste = []
    for index, cols in df[['DATE', col]].iterrows():    
        if pd.isnull(cols[1]):
            liste.append(np.nan)
        elif float(cols[1]) == 2400:
            cols[0] += datetime.timedelta(days=1)
            cols[1] = datetime.time(0,0)
            liste.append(combine_date_heure(cols))
        else:
            cols[1] = format_heure(cols[1])
            liste.append(combine_date_heure(cols))
    return pd.Series(liste)

In [93]:
# Se aplica la funcion de la linea anterior a las siguienes variables 
data_1['SCHEDULED_DEPARTURE'] = create_flight_time(data_1, 'SCHEDULED_DEPARTURE')
data_1['SCHEDULED_ARRIVAL'] = data_1['SCHEDULED_ARRIVAL'].apply(format_heure)
data_1['ARRIVAL_TIME'] = data_1['ARRIVAL_TIME'].apply(format_heure)
data_1['DEPARTURE_TIME'] = data_1['DEPARTURE_TIME'].apply(format_heure)
data_1.loc[:5, ['SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL', 'DEPARTURE_TIME',
             'ARRIVAL_TIME', 'DEPARTURE_DELAY', 'ARRIVAL_DELAY']]

,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL,DEPARTURE_TIME,ARRIVAL_TIME,DEPARTURE_DELAY,ARRIVAL_DELAY
0,2015-01-01 00:05:00,04:30:00,23:54:00,04:08:00,-11.0,-22.0
1,2015-01-01 00:10:00,07:50:00,00:02:00,07:41:00,-8.0,-9.0
2,2015-01-01 00:20:00,08:06:00,00:18:00,08:11:00,-2.0,5.0
3,2015-01-01 00:20:00,08:05:00,00:15:00,07:56:00,-5.0,-9.0
4,2015-01-01 00:25:00,03:20:00,00:24:00,02:59:00,-1.0,-21.0
5,2015-01-01 00:25:00,06:02:00,00:20:00,06:10:00,-5.0,8.0

In [ ]:
#Se borran mas variables 
Variables_Borradas_2 = ['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'TAIL_NUMBER', 'TAXI_OUT',
       'WHEELS_OFF', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'DIVERTED', 'CANCELLED', 'DATE']
data_2 = data_1.copy()
data_2 = data_1.drop(Variables_Borradas_2, axis = 1, inplace = True)
data_2

,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,ELAPSED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,AS,98,ANC,SEA,2015-01-01 00:05:00,23:54:00,-11.0,205.0,194.0,04:30:00,04:08:00,-22.0
1,AA,2336,LAX,PBI,2015-01-01 00:10:00,00:02:00,-8.0,280.0,279.0,07:50:00,07:41:00,-9.0
2,US,840,SFO,CLT,2015-01-01 00:20:00,00:18:00,-2.0,286.0,293.0,08:06:00,08:11:00,5.0
3,AA,258,LAX,MIA,2015-01-01 00:20:00,00:15:00,-5.0,285.0,281.0,08:05:00,07:56:00,-9.0
4,AS,135,SEA,ANC,2015-01-01 00:25:00,00:24:00,-1.0,235.0,215.0,03:20:00,02:59:00,-21.0
5,DL,806,SFO,MSP,2015-01-01 00:25:00,00:20:00,-5.0,217.0,230.0,06:02:00,06:10:00,8.0
6,NK,612,LAS,MSP,2015-01-01 00:25:00,00:19:00,-6.0,181.0,170.0,05:26:00,05:09:00,-17.0
7,US,2013,LAX,CLT,2015-01-01 00:30:00,00:44:00,14.0,273.0,249.0,08:03:00,07:53:00,-10.0
8,AA,1112,SFO,DFW,2015-01-01 00:30:00,00:19:00,-11.0,195.0,193.0,05:45:00,05:32:00,-13.0
9,DL,1173,LAS,ATL,2015-01-01 00:30:00,00:33:00,3.0,221.0,203.0,07:11:00,06:56:00,-15.0
10,DL,2336,DEN,ATL,2015-01-01 00:30:00,00:24:00,-6.0,173.0,149.0,05:23:00,04:53:00,-30.0
11,AA,1674,LAS,MIA,2015-01-01 00:35:00,00:27:00,-8.0,268.0,266.0,08:03:00,07:53:00,-10.0
12,DL,1434,LAX,MSP,2015-01-01 00:35:00,00:35:00,0.0,214.0,210.0,06:09:00,06:05:00,-4.0
13,DL,2324,SLC,ATL,2015-01-01 00:40:00,00:34:00,-6.0,215.0,199.0,06:15:00,05:53:00,-22.0
14,DL,2440,SEA,MSP,2015-01-01 00:40:00,00:39:00,-1.0,189.0,198.0,05:49:00,05:57:00,8.0
15,AS,108,ANC,SEA,2015-01-01 00:45:00,00:41:00,-4.0,204.0,194.0,05:09:00,04:55:00,-14.0
16,DL,1560,ANC,SEA,2015-01-01 00:45:00,00:31:00,-14.0,210.0,200.0,05:15:00,04:51:00,-24.0
17,UA,1197,SFO,IAH,2015-01-01 00:48:00,00:42:00,-6.0,218.0,217.0,06:26:00,06:19:00,-7.0
18,AS,122,ANC,PDX,2015-01-01 00:50:00,00:46:00,-4.0,215.0,201.0,05:25:00,05:07:00,-18.0
19,DL,1670,PDX,MSP,2015-01-01 00:50:00,00:45:00,-5.0,193.0,186.0,06:03:00,05:51:00,-12.0
20,NK,520,LAS,MCI,2015-01-01 00:55:00,01:20:00,25.0,162.0,143.0,05:37:00,05:43:00,6.0
21,AA,371,SEA,MIA,2015-01-01 01:00:00,00:52:00,-8.0,338.0,347.0,09:38:00,09:39:00,1.0
22,NK,214,LAS,DFW,2015-01-01 01:03:00,01:02:00,-1.0,147.0,147.0,05:30:00,05:29:00,-1.0
23,AA,115,LAX,MIA,2015-01-01 01:05:00,01:03:00,-2.0,286.0,276.0,08:51:00,08:39:00,-12.0
24,DL,1450,LAS,MSP,2015-01-01 01:05:00,01:02:00,-3.0,183.0,163.0,06:08:00,05:45:00,-23.0
25,UA,1545,LAX,IAH,2015-01-01 01:15:00,01:12:00,-3.0,183.0,175.0,06:18:00,06:07:00,-11.0
26,AS,130,FAI,SEA,2015-01-01 01:15:00,01:07:00,-8.0,213.0,218.0,05:48:00,05:45:00,-3.0
27,NK,597,MSP,FLL,2015-01-01 01:15:00,01:27:00,12.0,207.0,220.0,05:42:00,06:07:00,25.0
28,US,413,LAS,CLT,2015-01-01 01:20:00,01:10:00,-10.0,245.0,224.0,08:25:00,07:54:00,-31.0
29,AA,2392,DEN,MIA,2015-01-01 01:20:00,01:41:00,21.0,227.0,208.0,07:07:00,07:09:00,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
469938,AA,384,LAX,MIA,2015-01-31 23:45:00,23:42:00,-3.0,284.0,285.0,07:29:00,07:27:00,-2.0
469939,AA,2200,MIA,MCO,2015-01-31 23:49:00,23:46:00,-3.0,60.0,53.0,00:49:00,00:39:00,-10.0
469940,B6,688,LAX,BOS,2015-01-31 23:49:00,00:18:00,29.0,320.0,321.0,08:09:00,08:39:00,30.0
469941,US,2026,PHX,PHL,2015-01-31 23:50:00,23:49:00,-1.0,253.0,254.0,06:03:00,06:03:00,0.0
469942,US,675,HNL,PHX,2015-01-31 23:50:00,23:40:00,-10.0,353.0,NaN,08:43:00,NaN,NaN
469943,AA,272,SFO,MIA,2015-01-31 23:50:00,23:45:00,-5.0,310.0,308.0,08:00:00,07:53:00,-7.0
469944,AA,1230,SEA,DFW,2015-01-31 23:50:00,23:50:00,0.0,217.0,209.0,05:27:00,05:19:00,-8.0
469945,AS,121,SEA,ANC,2015-01-31 23:50:00,01:36:00,106.0,230.0,202.0,02:40:00,03:58:00,78.0
469946,B6,136,PHX,JFK,2015-01-31 23:50:00,23:49:00,-1.0,267.0,264.0,06:17:00,06:13:00,-4.0
469947,DL,1088,ANC,MSP,2015-01-31 23:50:00,23:47:00,-3.0,318.0,325.0,08:08:00,08:12:00,4.0
469948,DL,1157,HNL,SFO,2015-01-31 23:50:00,23:46:00,-4.0,315.0,281.0,07:05:00,06:27:00,-38.0
469949,AA,1062,LAX,ORD,2015-01-31 23:54:00,23:51:00,-3.0,236.0,242.0,05:50:00,05:53:00,3.0
469950,AA,1070,SEA,MIA,2015-01-31 23:55:00,23:49:00,-6.0,331.0,319.0,08:26:00,08:08:00,-18.0
469951,AS,816,LIH,SEA,2015-01-31 23:55:00,00:43:00,48.0,341.0,291.0,07:36:00,07:34:00,-2.0
469952,B6,361,BOS,SJU,2015-01-31 23:55:00,23:52:00,-3.0,236.0,207.0,04:51:00,04:19:00,-32.0
469953,B6,778,LAS,BOS,2015-01-31 23:55:00,00:23:00,28.0,290.0,296.0,07:45:00,08:19:00,34.0
469954,B6,1853,FLL,SJU,2015-01-31 23:55:00,23:48:00,-7.0,144.0,141.0,03:19:00,03:09:00,-10.0
469955,DL,1254,LAX,ATL,2015-01-31 23:55:00,23:52:00,-3.0,245.0,239.0,07:00:00,06:51:00,-9.0
469956,F9,712,DEN,RSW,2015-01-31 23:55:00,23:51:00,-4.0,206.0,223.0,05:21:00,05:34:00,13.0
469957,UA,1557,LAX,EWR,2015-01-31 23:56:00,23:57:00,1.0,315.0,314.0,08:11:00,08:11:00,0.0
469958,UA,1604,HNL,SFO,2015-01-31 23:56:00,23:59:00,3.0,314.0,287.0,07:10:00,06:46:00,-24.0
469959,B6,98,DEN,JFK,2015-01-31 23:57:00,00:21:00,24.0,211.0,255.0,05:28:00,06:36:00,68.0
469960,US,889,PHX,MSP,2015-01-31 23:59:00,23:52:00,-7.0,180.0,176.0,03:59:00,03:48:00,-11.0
469961,B6,802,SLC,MCO,2015-01-31 23:59:00,00:04:00,5.0,254.0,232.0,06:13:00,05:56:00,-17.0
469962,B6,745,JFK,PSE,2015-01-31 23:59:00,23:53:00,-6.0,227.0,205.0,04:46:00,04:18:00,-28.0
469963,B6,839,JFK,BQN,2015-01-31 23:59:00,23:59:00,0.0,221.0,200.0,04:40:00,04:19:00,-21.0
469964,DL,1887,SEA,DTW,2015-01-31 23:59:00,23:59:00,0.0,252.0,239.0,07:11:00,06:58:00,-13.0
469965,F9,300,DEN,TPA,2015-01-31 23:59:00,00:02:00,3.0,192.0,212.0,05:11:00,05:34:00,23.0
469966,F9,422,DEN,ATL,2015-01-31 23:59:00,23:59:00,0.0,162.0,191.0,04:41:00,05:10:00,29.0
469967,UA,1104,ANC,DEN,2015-01-31 23:59:00,23:58:00,-1.0,309.0,312.0,07:08:00,07:10:00,2.0

In [98]:
# porcentaje de registros de la variable que son missing values
print ("%MISSING VALUES")
#data_flights.isnull().sum()
import numpy as np
missing_values = []
for col in data_2.columns:
    i=data_2[col].isnull().sum()
    print ('{} = {}%'.format(col, i*100/data_2.shape[0]))

%MISSING VALUES
AIRLINE = 0.0%
FLIGHT_NUMBER = 0.0%
ORIGIN_AIRPORT = 0.0%
DESTINATION_AIRPORT = 0.0%
SCHEDULED_DEPARTURE = 0.0%
DEPARTURE_TIME = 2.4803816430054813%
DEPARTURE_DELAY = 2.4803816430054813%
SCHEDULED_TIME = 0.0%
ELAPSED_TIME = 2.7565706601300515%
SCHEDULED_ARRIVAL = 0.0%
ARRIVAL_TIME = 2.611028836005856%
ARRIVAL_DELAY = 2.7565706601300515%

In [106]:
airport_origin_weight = data.groupby(['ORIGIN_AIRPORT']).MONTH.count().sort_values(ascending = False)
airport_origin_weight.head(10)

ORIGIN_AIRPORT
ATL    29512
ORD    23484
DFW    23153
LAX    17340
DEN    17090
IAH    13376
PHX    13122
SFO    12891
LAS    11604
MCO    10083
Name: MONTH, dtype: int64